html, body{
	height: 100% !important;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
body{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

a{
	margin: 0 !important;
	margin-top: 20px !important;
}

button{
	margin-top: 10px !important;
}


.container{
	display: flex;
	align-items: center;
	justify-content: center !important;
	width: 100% !important;
	height: 100%  !important;
}

.container>.row{
	width: 35% !important;
	padding: 20px;
	margin: 0 !important;
}

.btn-large{
	width: 100% !important;
}


.logo{
	width: 150px;
	height: 150px;
	size: 1cm;
	margin: 0 auto;
	background-color: rgb(255, 42, 42);
	margin-bottom: 40px !important;
}


::placeholder{
	color: rgba(0, 0, 0, 0.336) !important;
}

@media (max-width: 992px)
{
	.logo{
		min-width: 250px;
		min-height: 250px;
		margin-bottom: 80px !important;
	}

	.container>.row{
		display: flex;
		flex-direction: column !important;
		justify-content: center;
		width: 100% !important;
		height: 100% !important;
		padding: 20px;
	}
}
